@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #4d2800;
  background-color: #fff5e6;
}

input,
textarea {
  color: #4d2800;
  border-color: #e69a3c;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #4d2800 !important;
}

a {
  color: #4d2800;
}
a:hover {
  color: #e69a3c;
}
